body{
    margin:0; font-family:Arial, Helvetica, sans-serif;
    background: #111;color:#e5e5e5;
}

header, footer{
    width:100%;
    background:#720000;
    box-shadow: 1px 1px 10px #ff0000;
    box-sizing: border-box;
    text-align: center;
}

header h1{
    margin: 0px;
    font-size: 50px;
    letter-spacing: 3px;
    padding: 30px;
    
}

nav{
    background: #111;
    padding:20px;
    text-align:center;
}

nav a{
    color:#e5e5e5;
    margin:0 10px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{color:#ff3b3b;}

section {padding:50px 350px;max-width: 1000px;margin:auto; }
.cards{display:grid;grid-template-columns: repeat (auto-fit,minmax(220px,1fr));gap:20px}
.card{background: #443f3f;padding:20px;border-radius:10px;box-shadow:0 0 10px #2e2c2c;}


footer{font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        letter-spacing: 3px;
        background-color: #000;
        padding: 20px;
        
}

.Jogar{background :#ff0000;color:white;border:none;padding:15px 25px;font-size:25px;border-radius: 0px;cursor:pointer;

}
.jogar:hover{background:#111;}

@media (max-width: 480px) {
    header{
        text-align:center;
        padding-top: 50px;
    }

    header, section,aside,footer{
        width:152%;
    }

    header nav a {
        margin: 5px;
        font-size: 25px;
    }
   
    section {
        padding:50px 0px;
    }   
    header h1{
        font-size: 70px;
    }
    section,h1,p {
        font-size: 30px;
    }

}